.project__group>*{
    margin: 2rem 0;
}
.project__actions{
    display: flex;
    gap: 1rem;
}
.btn_source,.btn_deploy{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--title-color);
}
.btn_source a:visited,.btn_source a:link,.btn_deploy a:visited,.btn_deploy a:link{
    color: #fff;
}